// Place all the styles related to the api/marvel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, main, p, input, button, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  padding: 10px;
}

.hidden {
  display: none;
}

.bordered {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background: white;
}

.blue-button {
  padding: 10px;
  box-sizing: border-box;
  background-color: #4285f4;
  border: 1px solid #a4bde6;
  border-radius: 4px;
  color: white;
}

.absolute {
  position: absolute;
  z-index: 1;
}

#map {
  height: 100vh;
  width: 100vw;
}


.superhero {
  left: 80%;
  top: 10%;
}

.superhero > p {
  text-align: center;
}

.autocomplete {
  top: 10%;
  left: 5%;
  width: 40%;
}

.setup-redis {
  left: 54.5%;
  top: 5%;
}

.autocomplete > form {
  text-align: center;
  display: flex;
  align-items: center;
}

.material-icons {
  padding: 5.5px;
}

// .autocomplete > form > div {
//   width: 70%;
// }
.autocomplete > form > div:first-child {
  width: 70%;
}
.autocomplete > form > input:nth-child(2) {
  width: 20%;
}
.autocomplete > form > i {
  width: 10%;
}

.all-heroes {
  top: 10%;
  left: 50%;
  display: flex;
}


.all-heroes button {
  margin-right: 5px;
}


// drop-down

.dropdown {
  position: relative;
}

.drop-items {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
}
